<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <title>error</title>
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    {{>header}}
    <div class="error">
        <img class="img" src="/img/404.jpg" alt="error page" >
        <button class="bg-success m-2 botton"><a href="/" style="text-decoration: none;color: black;">go to home</a> </button>
    </div>
    
    <src="/js/index.js"></src=>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>