<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <title>weather App</title>
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <header>
        {{>header}}
    </header>
    <main>
        <h1>{{title}}</h1>
        <br>
        <form id="nameForm">
            <input id="enter" type="text" placeholder="enter your name">
            <button>submit</button>
        </form>
        <h3 id="name"></h3>
        <p id="welcome"></p>
        <p><em><strong>use this app to know about weather of any place .</strong> </em> </p>
         <hr noshade style="width: 60%;">
        <form id="searchForm">
            <input id="place" type="text" placeholder="Location">
            <button>search</button>
        </form>
        <br>
        <p id="location"></p>
        <p id="description"></p>
        <p id="temperature"></p>
        <p id="humidity"></p>
        <p id="error"></p>
    </main>
    <footer>
        <hr noshade style="width: 60%;">
        {{>footer}}
    </footer>
    <script src="/js/index.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>